{% extends "layout.html" %}
{% block content %}
<h2>All Songs</h2>
{% for post in posts.items %}

<article class="media content-section">

    <div class="media-body">

        <div class="content-container d-flex ">
            <div class="album-cover">
                <img class = 'img-thumbnail img-fluid'src='{{ post.image_file }}' style="width: 10rem; height: auto"> 
            </div>
            <div class="content-text m-3 ">
                <h2><a class="article-title" >{{ post.name }}</a></h2>
                <p class="article-content">{{ post.artist.name }} </p>

            </div>
        </div>

    </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}