{% extends "layout.html" %}
{% block content %}
{% if length != 0 %}
<div class="d-flex justify-content-between">
    <h4 class="mb-3">Playlist for {{ user.username }} ({{ length }})</h1>
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-info mb-4 center" href="{{ url_for('posts.new_post') }}">Add Song</a>
        </div>
    </div>
{% else %}
<div class="d-flex justify-content-between">
    <p>Your playlist is empty. Try adding some songs!</p>
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-info mb-4 center" href="{{ url_for('posts.new_post') }}">Add Song</a>
    </div>
</div>
{% endif %}
{% for song in songs.songs %}
<article class="media content-section">
    <div class="media-body">
        <div class="content-container d-flex ">
            <div class="album-cover">
                <img class = 'img-responsive' src='{{ song.image_file }}' style="width: 10rem; height: auto"> 
            </div>
            <div class="content-text m-3 ">
                <h4><a class="article-title" >{{ song.name }}</a></h4>
                <p class="article-content">{{ song.artist.name }} </p>
                
                {% if current_user.is_authenticated %}
                <a class="article-content btn btn-info" href="{{ url_for('posts.update_song', song_id=song.id) }}">Edit</a>
                <a class="article-content btn btn-danger" href="{{ url_for('users.user_playlist', username=user.username, delete_song=song.id) }}">Delete</a>  
                {% endif %} 
            </div>

            <div class="audio-content m-3 flex-fill align-items-center">
                <audio controls class="mt-3">
                    <source src='{{ song.audio_file }}' type="audio/mp3">
                </audio>
            </div>

        </div>
    </div>
</article>
{% endfor %}

{% endblock content %}