{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Playlist for {{ user.username }} ({{ length }})</h1>
{% for song in songs.songs %}
<article class="media content-section">
    <div class="media-body">
        <div class="content-container d-flex ">
            <div class="album-cover">
                <img class = 'img-thumbnail img-fluid'src='{{ song.image_file }}' style="width: 10rem; height: auto"> 
            </div>
            <div class="content-text m-3 ">
                <h2><a class="article-title" >{{ song.name }}</a></h2>
                <p class="article-content">{{ song.artist.name }} </p>

            </div>
        </div>
    </div>
</article>
{% endfor %}

{% endblock content %}